@import url("https://use.typekit.net/jmk3xov.css");

body {
  margin: 0;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 400px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal,
}

main {
  position: absolute;
  color: white;
  width: 100vw;
  z-index: 99;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1, h2, h3, blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-size: 28px;
}

h1 {
  font-size: 54px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 40px;
}

header {
  /* background: var(--dark-bg); */
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  /* background: var(--dark-bg); */
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
  text-align: center;
}

blockquote p {
  color: black;
  /* background-color: white; */
  font-size: 4rem;
  display: inline;
  line-height: 1;
}

header, section {
  backdrop-filter: blur(10px);
  background-color: rgba(22, 22, 22, 0.6);
}

blockquote {
  backdrop-filter: blur(10px) brightness(5);
  background-color: rgba(255, 255, 255, 0.6);
}

header, section, blockquote {
  border-radius: 8px;
}

#endblock {
  margin-top: 200px;
}

.left {
  grid-column: 6 / 12;
}

#content {
  opacity: 0;
  /* transition: opacity 1s ease-out;
  transition-delay: 1s; */
}

